@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Open+Sans:700|Raleway:800&display=swap');
*{
  box-sizing: border-box;
}

body, html{
  margin: 0pt;
  padding: 0pt;
}

body{
  display: flex;
  flex-wrap: wrap;
  color: 	#221f20;
  background-color: white;
}


body > div{
  justify-content: space-around;
}

body > div > div{
  justify-content: space-around;
}

h4{
 font-family: "Nunito Sans";
}

.upperText{

  margin: 30pt;
  margin-top: 40pt;
  display: flex;
  width: 100vw;
  height: 100vh;


}
.sideBar{
  font-size: 16pt;
  text-align: justify;
  margin: 30px

}

.sideBar .sideBarTitle{
  color: rgb(168,169,173);
  margin-right: 30px;

}
.sideBar p{
  font-family: "Nunito Sans";


}

.content p{
  margin: 30px;
  text-align: justify;
  font-size: 20pt;
  text-indent: 2em;
}

div span{
  font-family: "Nunito Sans";
  font-weight: bold;
  color: #221f20;
}
