@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Open+Sans:700|Raleway:800|EB+Garamond|Kadwa|Lora&display=swap');
*{
  box-sizing: border-box;
}

body, html, p{
  margin: 0pt;
  padding: 0pt;
}

body{
  padding:50px;
  justify-content: center;
}

.main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: 	#221f20;
  background-color: white;

}

h4{
  margin: 0pt;
 font-family: "Nunito Sans";
}

.upperText{
  display: flex;
  flex-wrap: nowrap;
  width: 1440px;
  height: 720px;


}
.sideBar{
  font-size: 12pt;
  margin: 20px;
  width: 30%;

}

.sideBar .sideBarTitle{
  color: rgb(168,169,173);
  margin-right: 30px;

}
.sideBar p{
  font-family: "Nunito Sans";
  text-align: justify;
}

.content{
  text-align: justify;
  font-size: 18pt;
  margin: 20px;
  text-indent: 2em;
  width: 75%;
  font-family: "EB Garamond";
  font-weight: lighter;
}

.content .figHeading{
  font-size: 12pt;
  font-weight: 800;
}

.illu{
  width: 280px;
  height: 400px;
  margin-right: 40px;
}

.illu p{
  font-style: italic;
  width: 85%;
}

.illu img{
  max-width: 100%;
  height: auto;
  margin-top: 20px;

}
#img10{
  max-width: 600px;
  height: auto;
}
#img10 img{
  max-width: 650px;
  height: auto;
}
#img12 p{
  width: 90%;
}
#img12 img{
  height: 150px;
}
div span{
  font-family: "Nunito Sans";
  font-weight: bold;
  color: #221f20;
}

.mid {
  display: flex;
  flex-wrap: nowrap;
  width: 1440px;
  height: 800px;

}

.midLeft{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 20px;

}
.midRight{
  width: 720px;
  margin: 20px;

}

.bottom{
  display: flex;
  justify-content: space-around;
  width: 1440px;
  height: 400px;
}

.footer{
  width: 1440px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.footer div{
  margin: 30px;
}

.footer div .figHeading{
  font-size: 10px;

}

.footer div span{


}
